.content {
    margin-bottom: 60px;
}

@media only screen and (max-width:600px) {
    .content {
        margin-bottom: 100px;
    }
}



#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.navbar-nav>li>a.profile-image {
    padding: 10px;
}

.navbar {
    background-image: linear-gradient(to right, #292929, #30303d);
    box-shadow: 0 0 3px black;
}

.navbar-fixed-bottom {
    background-image: none;
    box-shadow: none;
}

.dropdown-menu {
    border-radius: 0;
}

.navbar-brand {
    padding:0px
}

.navbar-brand img {
    height:50px;
    padding: 12px;
    box-sizing: border-box
}

.language-dropdown-toggle img{
    padding: 1px;
}