.boards-container {
    text-align: center;
}
.board-box .board-box-url {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.board-box .board-box-url:hover {
    border: 1px solid lightgray;
    display: block;
    height: auto;
    width: 100%;
    overflow: visible;
    white-space: normal;

}

.board-box {
    width: 400px;
    word-wrap: break-word;
    
    background-color: white;

    display: inline-block;

    position: relative;
    top: 0;

    margin: 10px 10px 40px;

    transition: 0.15s;
    -webkit-transition: 0.15s;
}

.board-box:hover {
    transform: scale(1.02);
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);

    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
}

.board-box-content {
    padding: 10px;
    width:100%;
    height:100%;

    border-bottom: none;
}

.board-title {
    text-align: center;
    width:100%;
}

.board-box-credentials {
    width:100%;
}
.board-box-creator {
    padding: 5px;
}

.board-title-input {
    text-align: center;
    width:100%;
    margin: 4px 0;
}
.board-description-textarea {
    overflow-y: auto;
    resize: none;

    display: inline-block;
}

.board-box-credentials textarea {
    width: 180px;
    height: 180px;
}

.board-box-img {
    position: relative;
    overflow: hidden;

    width:80%;
    height:180px;
    
    display: inline-block;

    border: 2px solid lightgrey;

    background-color: lightgray;
}
.board-box-img img {
    position: absolute;

    left: 50%;
    top: 50%;

    height: 100%;
    width: auto;

    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.board-box-open-btn {
    width: 100%;
    bottom: 34px;
}
.board-box-open-btn .btn {
    border-radius: 0;
    width: 100%;

    font-size: 130%;
}

.board-box-open-btn .btn-success {
    background-image: linear-gradient(to right, #5cb85c, #65db65);
}

.board-box-open-btn .btn-success:hover {
    background-image: linear-gradient(to right, #55a955, #67cc67);
}

.board-box-controls {
    position: absolute;
    right:0;
    margin-top:-10px;
    
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
        transform: scale(0);

    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.board-box-controls .btn {
    border-radius: 0;
}

.board-box:hover .board-box-controls {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
        transform: scale(1);
}

.add-board-content {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: #5CB85C;
    margin: -10px;
    
    z-index: 2;

    color: white;
    font-size: 70px;

    text-align: center;

    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.add-board-content span {
    display: inline-block;

    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.board-box:hover .add-board-content {
    height: 0;
}
.board-box:hover .add-board-content span {
    font-size: 0;
}


@media only screen and (max-width:800px) {
    .board-box{
        width: 70%;
    }
}

@media only screen and (max-width:600px) {
    .board-box{
        width: 90%;
    }
}

@media only screen and (max-width:480px) {
    
    .board-box-img {
        width: 80%;
        height: 130px;
    }

    .board-description {
        height: 100px;
    }

    .board-box-credentials textarea {
        height: 100px;
    }
}
