.issue-badge{
    color: white;

    border-radius: 0px;
    text-align: center;

    padding: 4px;

    width: 100%;
}

.Bug-type{
    background-color: #D74545;
}

.Task-type{
    background-color: #32ABCE;
}

.Low-priority{
    background-color: #32CE65;
}

.Medium-priority{
    background-color: #32ABCE;
}

.High-priority{
    background-color: #D74545;
}

.table thead, th{
    white-space: nowrap
}

.table {
    background-color: white;
    color: black;
}

.table tbody tr td{
    transition: 0.1s;
    -webkit-transition: 0.1s;
}


.table{
    font-size: 90%;
}
.table-issues-mobile{
    text-align: center;
}
.table-issues-mobile tr:first-child{
    border-top: 4px solid grey;
}
.table-issues-mobile .table-issue-description{
    text-align: left;
}

.issue-closed-row{
    background-color:#FFE2E2;
}
