
.projects-container {
    display: inline-block;
    text-align: center;
}

.project-box {
    width: 350px;
    word-wrap: break-word;
    
    background-color: white;

    display: inline-block;

    position: relative;
    top: 0;

    margin: 10px 10px 40px;

    transition: 0.15s;
    -webkit-transition: 0.15s;
}

.project-box:hover {
    transform: scale(1.02);
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);

    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
}

.project-box-content {
    padding: 10px;
    width:100%;
    height:100%;

    border-bottom: none;
}

.project-title {
    text-align: center;
    width:100%;
}
.project-description {
    width: 100%;
    height: 120px;
    overflow-y: auto;
    text-align: center;
    padding: 4px;
    box-sizing: border-box;
    font-size:0.9em;
}
.project-box-credentials {
    display: inline-block;
    vertical-align:top;
    width:45%;

}
.project-box-creator {
    padding: 5px;
}

.project-title-input {
    text-align: center;
    width:100%;
    margin: -4px 0;
}
.project-description-textarea {
    overflow-y: auto;
    resize: none;
    width: 100%;

    display: inline-block;
}

.project-box-credentials textarea {
    height: 120px;
}

.project-box-img {
    position: relative;
    overflow: hidden;

    width:120px;
    height:120px;

    display: inline-block;
    background-color: lightgray;

}
.project-box-img img {
    position: absolute;

    left: 50%;
    top: 50%;

    height: 100%;
    width: auto;

    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
}

.project-box-open-btn {
    width: 100%;
    bottom: 34px;
}
.project-box-open-btn .btn {
    border-radius: 0;
    width: 100%;

    font-size: 130%;
}

.project-box-open-btn .btn-success {
    background-image: linear-gradient(to right, #5cb85c, #65db65);
}

.project-box-open-btn .btn-success:hover {
    background-image: linear-gradient(to right, #55a955, #67cc67);
}

.project-box-controls {
    position: absolute;
    right:0;
    margin-top:-10px;
    
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
        transform: scale(0);

    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.project-box-controls .btn {
    border-radius: 0;
}

.project-box:hover .project-box-controls {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
        transform: scale(1);
}

.add-project-content {
    position: absolute;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(to right, #5cb85c, #6df16d);
    background-color: #5CB85C;
    margin: -10px;
    
    z-index: 2;

    color: white;
    font-size: 100px;

    text-align: center;

    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.add-project-content span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.project-box:hover .add-project-content {
    height: 0;
}
.project-box:hover .add-project-content span {
    font-size: 0;
}



@media only screen and (max-width:800px) {
    .project-box {
        width: 70%;
    }
}

@media only screen and (max-width:600px) {
    .project-box {
        width: 90%;
    }
}

@media only screen and (max-width:480px) {
    
    .project-box-img {
        width: 100px;
        height: 100px;
    }

    .project-description {
        height: 100px;
    }

    .project-box-credentials textarea {
        height: 100px;
    }
}
